.form-search{
    margin: 200px auto;
    padding: 2px 20px;
    border-radius: 5px;

    h3{
        font-size: 2.2rem;
    }
    .input-field{
        input{
            border-radius: 5px;
        }
        label{
            padding: 0 10px;
        }
    }
}

.section{
    padding: 4vw 0;
    .container{
        h3{
            margin: 4vw 0;
        }
        .card-action{
            padding-bottom: 40px;
        }
    }
}


// moblie

@media screen and (max-width: 768px) {
    .form-search{
        margin: 100px auto;
        padding: 2px 20px;
        border-radius: 5px;
    }
}