.section{
    margin: 50px 0;
}
.event-section{
    h3{
        padding-bottom: 30px;
    }
}

.section-re{
    padding: 50px 0;

    form{
        padding: 20px;
    }
}

.testi{
    background: linear-gradient(#eceff1, #607d8b);
    .fot{
        margin: 70px auto;
        padding: 40px;
    }

    form{
        padding: 50px;
        label{
            color: #fff;
        }
    }
}